<!DOCTYPE html>
<html lang="en">
<head>
    <title>English Fixer</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
</head>
<body>

<div class="container md-5">
    <p>English Fixer</p>
    <form method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}

        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Fix
            </button>

        {% endbuttons %}
    </form>


    {#    <form method="post" enctype="multipart/form-data">#}
    {#        {% csrf_token %}#}
    {#        {{ form.as_p }}#}
    {##}
    {#        <div class="row justify-content-center">#}
    {#            <button type="submit" class="btn btn-primary">#}
    {#                FIX#}
    {#            </button>#}
    {#        </div>#}
    {#    </form>#}

</div>
</body>
</html>