<!DOCTYPE html>
<html lang="en">
<head>
    <title>English Fixer</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
</head>
<body>

<div class="container md-5">
    <p>English Fixer | <a href="{% url 'stripe_service:eng_list' %}">List</a></p>

{#    {% if form.errors %}#}
{#        <div class="alert alert-danger" role="alert">#}
{#            <span style="display: flex">#}
{#                ❗ {{ form.errors }}#}
{#            </span>#}
{#        </div>#}
{#    {% endif %}#}

    {% bootstrap_form_errors form layout='inline' %}

    <form method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}

        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Fix
            </button>
        {% endbuttons %}

{#        {% bootstrap_button button_type="submit" content="OK" %}#}
    </form>

    {% if description %}
        <p>Description</p>
        {{ description|safe }}
    {% endif %}

    {#    <form method="post" enctype="multipart/form-data">#}
    {#        {% csrf_token %}#}
    {#        {{ form.as_p }}#}
    {##}
    {#        <div class="row justify-content-center">#}
    {#            <button type="submit" class="btn btn-primary">#}
    {#                FIX#}
    {#            </button>#}
    {#        </div>#}
    {#    </form>#}

</div>
</body>
</html>