asgiref
Django>=4.2
djangorestframework~=3.14
django-filter
psycopg2-binary
# psycopg2
Pillow
gunicorn

stripe
#django-bootstrap-v5
beautifulsoup4

django-debug-toolbar

django-crispy-forms
crispy-bootstrap5

