#main-block {
    background-color: #fffcdd5e !important;
}

button.btn-primary-custom {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;

    transition: transform .2s;
}

button.btn-primary-custom:hover {
    transform: scale(1.2);
}

#btn-orange:hover {
    transform: scale(1.2);
    transition: transform .2s;
}

#primary-custom {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
}

#rephrases {
    padding: 1em;

    background-color: snow;

    border-radius: 20px;
    border: solid wheat;
    box-shadow: 0px 3px 7px 0px #ececec;
}

textarea#id_fixed_sentence {
    font-weight: 500;
}