#main-block {
    background-color: #fffcdd5e !important;
}

button.btn-primary-custom {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;

    transition: transform .2s;
}

button.btn-primary-custom:hover {
    transform: scale(1.1);
}

#btn-orange:hover {
    transform: scale(1.1);
    transition: transform .2s;
}

#primary-custom {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
}

/* div.container > div  */
#formpage-container > div, .border-container {
    padding: 1em;
    background-color: white;

    border-radius: 20px;
    /*border: solid wheat;*/
    box-shadow: 0px 3px 7px 0px #ececec;
}

textarea#id_fixed_sentence {
    font-weight: 500;
}

/*profile*/
.flex-item1 p, .flex-item1 h3 {
  margin: 0;
  padding: 0;
}

.flex-container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-item1 {
  width: 30%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  text-align: center;
  border-radius: 20px;
}

/*.shadow1 {*/
.flex-container1 .flex-item1 {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
