{% extends 'Eng_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            {% include 'user_item.html' %}

            <div class="col-md-9">
                <h1>User Stats</h1>
                <br>

                <div id="stats" class="border-container" style="max-width: 800px">
                    {#                <i class="fa-solid fa-circle-check"></i>#}
                    <div class="flex-container1">
                        <div class="flex-item1">
                            <h4>COUNT</h4>
                            <hr>
                            <h1>{{ count }}</h1>
                        </div>
                        <div class="flex-item1">
                            <h4>LAST USING</h4>
                            <hr>
                            <h1>{{ last_using_str }}</h1>
                        </div>
                        <div class="flex-item1">
                            <h4>Correct count</h4>
                            <hr>
                            <h1>{{ count_correct }}</h1>
                        </div>
                    </div>

                    <h3>Last week</h3>

                    <div class="flex-container1">
                        <div class="flex-item1">
                            <h1>{{ count }}</h1>
                            <hr>
                            <h4>COUNT</h4>

                        </div>

                        <div class="flex-item1">
                            <h1>{{ count }}</h1>
                            <hr>
                            <h4>COUNT</h4>
                        </div>
                        <div class="flex-item1">
                            <h1>{{ count }}</h1>
                            <hr>
                            <h4>COUNT</h4>
                        </div>
                    </div>
                </div>

                <br>

                {#                    <h1>Fixer</h1>#}
                {#                    <p><b>Requests count:</b> {{ count }} <br>#}
                {#                        <b>Last using:</b> {{ last_using }}#}
                {#                    </p>#}
                {#                    <p><b>Last using:</b> {{ last_using }}</p>#}
                {#                    <br>#}

                {% if top3 %}
                    <h1>Top mistakes</h1>
                    {#            <p><b>{{ top3_str|linebreaksbr }}</b></p>#}
                    <div class="flex-container1 border-container" style="max-width: 800px">
                        {% for item in top3 %}
                            <div class="flex-item1">
                                <h4>{{ item.0 }}</h4>
                                <hr>
                                <h1>{{ item.1 }}</h1>
                            </div>
                        {% endfor %}
                    </div>

                {% endif %}

                <br>
                <h1>Test</h1>

                <div class="border-container">
                    <h3>Fix random sentence:</h3>
                    <p>{{ random_sentence }}</p>
                    <p id='hidden' style="display: none">{{ random_sentence2 }}</p>
                    <a href="{{ random_sentence_url }}" class="btn btn-md btn-warning">Open fix</a>
                    <button class="btn btn-md btn-warning" type="button" onclick="h()">Show</button>
                </div>
                <br>
                <hr>

                {#    filter#}
                <div class="border-container">

                    <div class="col-md-3">
                        <form action="">
                            <select class="form-select" aria-label="Default select example" name="tag">
                                <option selected>Grammar</option>
                                <option value="MisusedWord">Misused Word</option>
                                <option value="Grammar">Grammar</option>
                                <option value="Spelling">Spelling</option>
                                <option value="Punctuation">Punctuation</option>
                            </select>
                            <button type="submit" class="btn btn-sm btn-primary mt-3">Выбрать</button>
                        </form>
                    </div>

                    <p><b>{{ testdata|linebreaksbr }}</b></p>

                </div>
            </div>

        </div>
    </div>

{% endblock %}