{% extends 'Eng_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <div class="container">

        <p class="display-3">English Fixer | <a href="{% url 'eng_service:eng' %}">Fix New</a></p>

        <h1>User Profile</h1>

        <div id="stats">

            <p><b>Username:</b> {{ user.username }}</p>
            <p><b>Email:</b> {{ user.email }}</p>

            <br>

            <h1>Fixer:</h1>
            <p><b>Requests count:</b> {{ count }}</p>
            <p><b>Last using:</b> {{ last_using }}</p>

            <br>

            <h1>Top mistakes</h1>
            <p><b>{{ top3_str|linebreaksbr }}</b></p>

            <br>
            <h1>Test</h1>

            {#    filter#}
                <form action="">
                    <select class="form-select" aria-label="Default select example" name="tag">
                        <option selected>Grammar</option>
                        <option value="MisusedWord">Misused Word</option>
                        <option value="Grammar">Grammar</option>
                        <option value="Spelling">Spelling</option>
                        <option value="Punctuation">Punctuation</option>
                    </select>
                    <button type="submit" class="btn btn-sm btn-primary mt-3">Выбрать</button>
                </form>

            <p><b>{{ testdata|linebreaksbr }}</b></p>

        </div>

    </div>

{% endblock %}