{% extends 'Eng_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    {## md-5#}

    {# TODO HEADER #}
    <div class="container" id="formpage-container">
        <p class="display-4">English Fixer | <a href="{% url 'eng_service:eng_list' %}">List</a> |
            <a href="{% url 'eng_service:eng' %}" class="btn btn-warning btn-lg">Fix New</a></p>

        <hr>


        {#    filter#}
        {#        <form action="">#}
        {#            <select class="form-select" aria-label="Default select example" name="tag">#}
        {#                <option selected>Все</option>#}
        {#                <option value="Все">Все</option>#}
        {#                <option value="тэг1">тэг1</option>#}
        {#            </select>#}
        {#            <button type="submit" class="btn btn-sm btn-primary mt-3">Выбрать</button>#}
        {#        </form>#}

        {#    {% if form.errors %}#}
        {#        <div class="alert alert-danger" role="alert">#}
        {#            <span style="display: flex">#}
        {#                ❗ {{ form.errors }}#}
        {#            </span>#}
        {#        </div>#}
        {#    {% endif %}#}

        {% if form %}
            <div id="form1">
                <h1>Fix</h1>

                <form method="post" class="form" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form|crispy }}

                    {% if not disable_buttons %}
                        <div class="text-center">
                            <button type="submit" class="btn btn-warning btn-lg col-5" id="btn-orange">
                                {#                            <button type="submit" class="btn btn-primary-custom btn-lg col-5">#}
                                Fix!
                            </button>
                        </div>
                    {% endif %}
                </form>
            </div>

        {% else %}
        {% endif %}

        {% if disable_buttons %}
            <div id="btns" class="text-center">
                <button onclick="copy_result()" class="btn btn-primary btn-lg">Copy result</button>
                <button onclick="copy_url()" class="btn btn-primary btn-lg">Share url (copy url)</button>
            </div>
        {% endif %}

        {% if translate %}
            <br>
            <div id="translate">
                <h1>Translate to RU</h1>
                {#                {{ translate|linebreaks }}#}

                {#                {% for item in translate %}#}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="badge rounded-pill bg-primary">Input</span> {{ translate.0 }}</li>
                    <li class="list-group-item">
                        <span class="badge rounded-pill bg-primary">Fix</span> {{ translate.1 }}</li>
                </ul>
                {#                {% endfor %}#}

            </div>
        {% endif %}

        {% if error_types %}
            <br>
            <div id="error_types">
                <h1>Tags</h1>
                {% for item in error_types %}
                    <span class="badge rounded-pill bg-warning text-dark">{{ item }}</span>
                {% endfor %}
                <p>Most: {{ types_most }}</p>
            </div>
        {% endif %}

        {% if suggestions_rows %}
            <br>
            <div id="suggestions">
                <h1>Description of mistakes (suggestions)</h1>

                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">input</th>
                                        <th scope="col">fix</th>
                                        <th scope="col">description</th>
                                        <th scope="col">error type</th>
                                        <th scope="col">suggestions</th>
                                    </tr>
                                    </thead>

                        <tbody>

                        {% for item in suggestions_rows %}
                            <tr>
                                <td>{{ forloop.counter }}</td>

                                <td>{{ item.0 }}</td>
                                <td><b>{{ item.1 }}</b></td>
                                <td>{{ item.2 }}</td>
                                <td>{{ item.3 }}</td>
                                <td>{{ item.4|linebreaks|safe }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

        {#    # todo new styles + separte h1?#}
        {% if rephrases_list %}
            <br>
            <div id="rephrases">
                <h1>Rephrases</h1>
                {#                {{ rephrases_list|linebreaks }}#}

                {#            v2#}
                <ul class="list-group list-group-flush">
                    {% for item in rephrases_list %}
                        <li class="list-group-item">{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}



        {#    <form method="post" enctype="multipart/form-data">#}
        {#        {% csrf_token %}#}
        {#        {{ form.as_p }}#}
        {##}
        {#        <div class="row justify-content-center">#}
        {#            <button type="submit" class="btn btn-primary">#}
        {#                FIX#}
        {#            </button>#}
        {#        </div>#}
        {#    </form>#}

    </div>
{% endblock %}