{% extends 'Eng_base.html' %}
{% load bootstrap5 %}
{#{% bootstrap_css %}#}
{% load static %}

{% block content %}
{## md-5#}
<div class="container">
    <p class="display-4">English Fixer | <a href="{% url 'eng_service:eng_list' %}">List</a></p>

{#    {% if form.errors %}#}
{#        <div class="alert alert-danger" role="alert">#}
{#            <span style="display: flex">#}
{#                ❗ {{ form.errors }}#}
{#            </span>#}
{#        </div>#}
{#    {% endif %}#}

    <h1>Fix</h1>

    {% bootstrap_form_errors form layout='inline' %}

    <form method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}

        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Fix
            </button>
        {% endbuttons %}

{#        {% bootstrap_button button_type="submit" content="OK" %}#}
    </form>

{#old#}
{#        <p>Description of mistakes (suggestions)</p>#}
{#        {{ description|safe }}#}


    {% if suggestions_rows %}
        <h1>Description of mistakes (suggestions)</h1>

        <table class="table table-striped table-hover">
{#            <thead>#}
{#            <tr>#}
{#                <th scope="col">#</th>#}
{#                <th scope="col">input</th>#}
{#                <th scope="col">output</th>#}
{#                <th scope="col">link</th>#}
{#            </tr>#}
{#            </thead>#}

            <tbody>

            {% for item in suggestions_rows %}
            <tr>
                <td>{{ item.0 }}</td>
                <td><b>{{ item.1 }}</b></td>
                <td>{{ item.2 }}</td>
                <td>{{ item.3 }}</td>
                <td>{{ item.4|linebreaks|safe }}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    {% endif %}

    {% if rephrases %}
        <br>
        <h1>Rephrases</h1>
        {{ rephrases|linebreaks }}
    {% endif %}


    {#    <form method="post" enctype="multipart/form-data">#}
    {#        {% csrf_token %}#}
    {#        {{ form.as_p }}#}
    {##}
    {#        <div class="row justify-content-center">#}
    {#            <button type="submit" class="btn btn-primary">#}
    {#                FIX#}
    {#            </button>#}
    {#        </div>#}
    {#    </form>#}

</div>
{% endblock %}