{% extends 'Eng_base.html' %}
{% load static %}

{% block content %}
    <div class="container md-5">
        {#    CARD#}

        {% if not data_list %}
            <p>Create New</p>
        {% endif %}

        {% for item in data_list %}
            <div class="card">
                <div class="card-header">
                    <a href="{{ item.get_absolute_url }}" class="btn btn-outline-primary">Sentence #{{ item.id }}</a>

                    <button onclick="write_clipboard(`{{ item.fixed_sentence }}`);" class="btn btn-primary"><i
                            class="fa-solid fa-copy"></i>
                        Copy result
                    </button>
                    <button onclick="write_clipboard(window.location.origin+`{{ item.get_absolute_url }}`);" class="btn btn-primary"><i
                            class="fa-solid fa-share"></i> Share (Copy link)
                    </button>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ item.input_sentence }}</li>
                    <li class="list-group-item">{{ item.fixed_sentence }}</li>
                </ul>
                {#            <p>123</p>#}
            </div>

            <p></p>
        {% endfor %}

        {#    TABLE#}
        {#    <table class="table table-striped">#}
        {#        <thead>#}
        {#        <tr>#}
        {#            <th scope="col">#</th>#}
        {#            <th scope="col">input</th>#}
        {#            <th scope="col">output</th>#}
        {#            <th scope="col">link</th>#}
        {#        </tr>#}
        {#        </thead>#}
        {#        <tbody>#}
        {##}
        {#        {% for item in data_list %}#}
        {#        <tr>#}
        {#            <th scope="row">1</th>#}
        {#            <td>{{ item.id }}</td>#}
        {#            <td>{{ item.input_sentence }}</td>#}
        {#            <td>{{ item.fixed_sentence }}</td>#}
        {#            <td><a href="{% url 'stripe_service:eng_get' item.id %}" class="btn btn-light">Link</a></td>#}
        {#        </tr>#}
        {#        {% endfor %}#}
        {##}
        {#        </tbody>#}
        {#    </table>#}

    </div>
{% endblock %}