{% extends 'Eng_base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<div class="container md-5">
    <p class="display-4">English Fixer | <a href="{% url 'eng_service:eng' %}">Fix New</a></p>


    {#    {% for item in data_list %}#}
    {#        {{ item }}#}
    {#    {% endfor %}#}

    {#    CARD#}

    {% if not data_list %}
        <p>Create New</p>
    {% endif %}

    {% for item in data_list %}
        <div class="card">
            <div class="card-header">
                <a href="{{ item.get_absolute_url }}" class="btn btn-warning">Sentence #{{ item.id }}</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ item.input_sentence }}</li>
                <li class="list-group-item">{{ item.fixed_sentence }}</li>
            </ul>
        </div>

        <p></p>
    {% endfor %}

    {#    TABLE#}
    {#    <table class="table table-striped">#}
    {#        <thead>#}
    {#        <tr>#}
    {#            <th scope="col">#</th>#}
    {#            <th scope="col">input</th>#}
    {#            <th scope="col">output</th>#}
    {#            <th scope="col">link</th>#}
    {#        </tr>#}
    {#        </thead>#}
    {#        <tbody>#}
    {##}
    {#        {% for item in data_list %}#}
    {#        <tr>#}
    {#            <th scope="row">1</th>#}
    {#            <td>{{ item.id }}</td>#}
    {#            <td>{{ item.input_sentence }}</td>#}
    {#            <td>{{ item.fixed_sentence }}</td>#}
    {#            <td><a href="{% url 'stripe_service:eng_get' item.id %}" class="btn btn-light">Link</a></td>#}
    {#        </tr>#}
    {#        {% endfor %}#}
    {##}
    {#        </tbody>#}
    {#    </table>#}

</div>
{% endblock %}